<div class="card">
    <div class="card-body">
        <h2>{{postagem.titulo}}</h2>
        <hr>
        <small>data de publicacao: {{postagem.date}}</small>
        <hr>
        {{postagem.conteudo}}
    </div>
</div>